{:itonami.blueprint/id "cloud-itonami-9524"
 :itonami.blueprint/name "Repair of furniture and home furnishings"
 :itonami.blueprint/isic-rev5 "9524"
 :itonami.blueprint/domain :services/repair-furniture
 :itonami.blueprint/license "AGPL-3.0-or-later"
 :itonami.blueprint/social-impact [:community-access :data-sovereignty :transparency]
 :itonami.blueprint/governor :repair-shop-governor
 :itonami.blueprint/required-technologies [:robotics :identity :forms :dmn :bpmn :audit-ledger]
 :itonami.blueprint/optional-technologies []
 :itonami.blueprint/status :public-oss
 :itonami.blueprint/robotics true}
