{:kotoba.app/id "cloud.itonami.isic-9524", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreieaks6ucmzm6pdtsbuefycww537jnbkiupudv77ok4nhz2srl3wve", :kotoba.app/embed-url "ipfs://bafkreieaks6ucmzm6pdtsbuefycww537jnbkiupudv77ok4nhz2srl3wve", :published {:archive "https://kotobase.net/ipfs/bafkreieaks6ucmzm6pdtsbuefycww537jnbkiupudv77ok4nhz2srl3wve", :size 77866, :put-status 201, :get-status 200, :at "2026-08-15T13:37:27.481Z"}}
